body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header */
header {
    background-color: rgba(78, 52, 46, 0.9);
    color: white;
    text-align: center;
    padding: 15px;
}

header h1 {
    color: #fff8e1;
}

nav a {
    color: #f8e5c2;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #d7a86e;
}


/* Sections */
section {
    padding: 40px 20px;
    text-align: center;
}

#home h2 {
    color: white;
    font-size: 40px;
}

#home p {
    color: #f8e5c2;
    font-size: 18px;
}

#menu h2,
#reviews h2 {
    color: #4e342e;
}


/* Button */
.btn {
    display: inline-block;
    background-color: #6f4e37;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #8b5e3c;
}


/* Menu Cards */
.card {
    display: inline-block;
    width: 220px;
    background: #fffaf3;
    border: 1px solid #c8a97e;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    vertical-align: top;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    color: #6f4e37;
}

.card p {
    color: #555;
}


/* Hide Reviews Initially */
.review {
    display: none;
}


/* Show Review After Clicking Button */
.review:target {
    display: inline-block;
}


/* Review Box */
.review {
    width: 280px;
    background: #ede0d4;
    border: 1px solid #b08968;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.review h3 {
    color: #6f4e37;
}

.review p {
    color: #333;
}


/* Footer */
footer {
    background-color: rgba(62, 39, 35, 0.9);
    text-align: center;
    padding: 15px;
}

footer p {
    color: #fff8e1;
}


/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}